{{ define "main" }}
<main class="container">
  <section style="width: 100%; max-width: 800px;" class="text-center ml-auto mr-auto">
    <img src="/content/donate/jointhegame.png" alt="Join the game" />
    <h1>Join the Game</h1>
    <p>
        Help create beautiful software that gives you full freedom and protects your privacy. 
    </p>
    <p>
        <a href="https://jointhegame.kde.org/" class="learn-more">Become a supporting member</a>
    </p>
  </section>

  <section class="row">
    <article class="col-md">
        <h3>One-Time Donations</h3>
        <p>
            If you do not wish to join the game, you can also make a one-time contribution.
        </p>
        <a href="/community/donations" class="learn-more">Learn More</a>
    </article>
    <article class="col-md">
        <h3>Supporting Member Programme</h3>
        <p>
            Are you part of a business or a corporation interested in 
            sponsoring KDE development? In addition to making great 
            software possible, supporting members also have their logos
            added to the KDE website and many printed promotional 
            materials.
        </p>
        <a href="https://ev.kde.org/getinvolved/supporting-members" class="learn-more">Learn More</a>
    </article>
  </section>
</main>
{{ end }}
