{{/*
SPDX-FileCopyrightText: 2021 Nguyen Hung Phu <phuhnguyen@disroot.org>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{ $result := "" }}

{{ with .Description }}{{ $result = . }}
{{ else }}
  {{ if eq .Params.layout "plasma" }}
    {{ $version := .File.TranslationBaseName }}
    {{ $major := index (split $version ".") 0 | int }}
    {{ $minor := index (split $version ".") 1 | int }}
    {{ $patch := index (split $version ".") 2 | int }}
    {{ $msgName := "" }}
    {{ $versionStr := "" }}
    {{ $varStr := "" }}

    {{ if and (or (and (eq $major 5) (gt $minor 19)) (gt $major 5)) (gt $patch 0) (lt $patch 50) }}
      {{ $msgName = "annc-plasma-bugfix-desc-post-5-19" }}
      {{ $varStr = "%maj_ver" }}
      {{ $versionStr = $major }}
    {{ else }}
      {{ $varStr = "%ver" }}
      {{ if and (gt $patch 0) (lt $patch 50) }}
        {{ $msgName = "annc-plasma-desc-pre-5-20" }}
        {{ $versionStr = $version }}
      {{ else if eq $patch 0 }}
        {{ $msgName = "annc-plasma-desc-pre-5-20" }}
        {{ $versionStr = print $major "." $minor }}
      {{ else }}
        {{ $msgName = "annc-plasma-beta-desc-pre-5-20" }}
        {{ $versionStr = print $major "." (add $minor 1) }}
      {{ end }}
    {{ end }}
    {{ $result = replace (i18n $msgName) $varStr $versionStr }}
  {{ else if eq .Params.layout "framework" }}
    {{ $version := .File.TranslationBaseName }}
    {{ $major := index (split $version ".") 0 | int }}
    {{ $minor := index (split $version ".") 1 | int }}
    {{ $msgName := "" }}

    {{ if and (eq $major 5) (lt $minor 76) }}
      {{ $msgName = "annc-frameworks-desc-pre-5-76" }}
    {{ else }}
      {{ $msgName = "annc-frameworks-desc" }}
    {{ end }}
    {{ $result = replace (i18n $msgName) "%ver" $version }}
  {{ else if .IsPage }}{{ $result = .Summary }}
  {{ else }}{{ $result = i18n "site-description" }}
  {{ end }}
{{ end }}
{{ return $result }}
